// Place all the styles related to the store/carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.milk{
  .cart{
    width: 70%;
    padding-top: 20px;
    margin: auto;
    font-size: 24px;

    h2{
      margin-bottom: 10px;
      /*color: #40da4e;*/
      /*margin-top: 20px;*/
    }
  }

  table{
    font-size: 18px;
    margin: -20px 0 0 60px;
    border-collapse: separate;
    border-spacing: 10px 20px;

    th{
      color: #fff;
      width: 100px;
      height: 30px;
      text-align: center;
      vertical-align: middle;
      padding: 5px 10px;
      background-color: #ff7f32;
      border-color: #ff6f18;
      border-radius: 10px;
    }
    td{
      border-bottom: 1px solid #000;
    }
    td:last-child{
      border: 0;
      width: 50px;
    }
    tr:last-child td{
      border: 0;
    }
  }
  .del{
    color: #999;
  }
  .checkout{
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #a6e22d;
    border-color: #a6d213;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
  }
  .checkout:hover{
    color: #f9f8f3;
    background-color: #a6c904;
    border-color: #81b500;
  }
}