<div class="success">
  <p>填寫成功！謝謝您的耐心～</p>
  <p>鮮乳坊的網站與粉絲團即將上線，</p>
  <p>如有任何最新消息，我們會主動寄信通知您哦！</p>
  <p>敬請期待～</p>
  <%= link_to '回首頁', root_path %>
</div>

<!-- Facebook Conversion Code for landing page e-mail -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6018741546357', {'value':'0.00','currency':'TWD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6018741546357&amp;cd[value]=0.00&amp;cd[currency]=TWD&amp;noscript=1" /></noscript>