<div class="success">
  <p>填寫成功！謝謝您的耐心～</p>
  <p>如有任何最新消息，我們會主動寄信通知您哦！</p>
  <p>鮮乳坊的網站即將上線，</p>
  <p>敬請期待～</p>
  <%= link_to '返回首頁', root_path, class: :to_home %>
  <%= link_to '粉絲專頁', 'https://www.facebook.com/pages/鮮乳坊-小農鮮奶直送/311701552356795', class: :fans %>
</div>