<div class="milk">
  <div class="wrapper">
    <div class="about-me">
      <h2>關於鮮乳坊</h2>
      <p>在台灣，僅有3~4%的酪農擁有自己的品牌鮮乳，</p>
      <p>其他的鮮乳，通通被大廠所壟斷，捏死的生乳價格不是由市場機制決定。</p>
      <p>而日本，超過10倍的小農比例，讓大廠與小廠有一個互相制衡的發展，</p>
      <p>在地的實體通路支持在地的酪農，網路上的虛擬通路和發達的運輸網相連。</p>
      <p>日本行，台灣行不行？</p>
      <p></p>
      <p>一位守護著全台灣各地牧場動物健康的大動物獸醫師，阿嘉</p>
      <p>每天在全台10個不同縣市的牧場出診，守護著超過6000頭乳牛的健康，</p>
      <p>台灣的鮮奶，讓大品牌壟斷太久，</p>
      <p>想要讓酪農擁有屬於自己的獨立品牌，</p>
      <p>台灣的鮮奶，讓消費者困惑太久，</p>
      <p>想讓在乎牛奶的台灣人，擁有安心健康的牛奶，</p>
      <p>每天看診的過程，和每一位酪農直接接觸，</p>
      <p>所以我敢大聲推薦！</p>
      <p>我們期待鮮乳坊搭起消費者和酪農的橋樑，體會最自然的鮮奶風味！</p>
      <p></p>
      <p>協助酪農成立自己的品牌，</p>
      <p>讓『找到消費者』不再是一個門檻，</p>
      <p>用群眾的力量讓優質的小農有生存下去的空間，</p>
      <p>現在的通路環境對於小農品牌非常不友善，</p>
      <p>高昂的上架費用，以及穩定的出貨量，</p>
      <p>都讓酪農望之卻步，而我們可以串聯起自己小小的一份心，</p>
      <p>用消費的力量來支持酪農朋友，直接在網路上購買最新鮮的牧場原味，</p>
      <p>受夠了標示不清的牛奶製品，受夠了大品牌鮮奶的成分調整，</p>
      <p>鮮乳坊要帶給大家的，是無成分調整的優質鮮奶，</p>
      <p>沒有其他選擇，只有最天然，只有最新鮮。</p>
    </div>
  </div>
</div>